@import "@mixins";

.faq {
    margin-bottom: 60px;

    @include tablet {
        margin-bottom: 20px;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    &Item {
        list-style: none;
        margin: 10px 0;
        list-style-type: none;

        sup {
            -webkit-text-size-adjust: 100%;
            text-align: left;
            font-weight: bolder;
            top: -.5em;
            font-size: 10px;
            line-height: 0;
        }
    }
}