@import "@sassConstants";
@import "@mixins";

.first_section_container {
    @include flex(center, center, 48px, row);
    width: 100%;
    padding: 0px;

    .button_with_element {
        @include flex(center, center, 10px, column);
    }

    .content {
        @include flex(center, center, 30px, column);
        width: 100%;
        padding: 0px 15px;
        max-width: 992px;
        text-align: center;

        .paragraphs {
            @include flex(flex-start, center, 24px, column);
            width: 100%;

            p {
                width: 100%;
                text-align: left;
                color: $black-color;
                font-size: 20px;
                font-weight: 400;
            }

            .paragraph_with_image {
                @include flex(flex-start, center, 10px, row);
            }

            ul {
                @include flex(flex-start, center, 12px, column);
                text-align: left;
                width: 95%;

                li {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 400;
                    text-align: left;
                }
            }

            .last_paragraph {
                font-size: 20px;
                text-align: justify;
                margin-top: 20px;
                cursor: pointer;
            }

            sup {
                font-size: 20px;
            }
        }

        .button {
            padding: 20px 15px;
            background-color: rgba(42, 187, 77, 1);
            font-weight: 700;
            color: white;
            width: 100%;
            max-width: 750px;
            border-radius: 10px;
            font-size: 19px;
            cursor: pointer;
        }

        .no_button {
            padding: 15px 15px;
            background-color: #7f3d16;
            font-weight: 700;
            color: white;
            width: 100%;
            max-width: 290px;
            border-radius: 10px;
            font-size: 22px;
            cursor: pointer;
            margin-top: 20px;
        }


        .image_icon {
            @include flex(flex-start, center, 10px);
            font-size: 18px;

            img {
                max-width: 25px;
            }
        }

        .title {
            font-size: 38px;
            text-align: center;
            line-height: 45px;

            sup {
                font-size: 26px;
            }

            @include tablet-small {
                font-size: 26px;
                line-height: 33px;

            }
        }

        .dr_indio_card {
            @include flex(flex-start, center, 15px, column);
            background-color: #f4f2ec;
            padding: 24px;
            border-radius: 10px;
            width: 100%;
            max-width: 800px;

            .card_header {
                @include flex(flex-start, flex-start, 20px);
                font-size: 20px;
                text-align: left;

                >img {
                    max-width: 65px;
                }
            }

            .card_footer {
                @include flex(flex-start, flex-start, 15px, column);
                font-size: 16px;
                width: 100%;

                p {
                    width: 100%;
                    text-align: left;
                }

                >p:last-child {
                    font-size: 12px;
                    color: #808080;
                }

            }
        }

        .gray_card {
            @include flex(flex-start, center, 15px, column);
            background-color: #dfe1d7;
            padding: 50px 24px 24px 24px;
            border-radius: 10px;
            width: 100%;
            max-width: 850px;
            border: 1px solid #1b281d;
            position: relative;
            margin: 20px 0px;

            .bcm_img {
                width: 100%;
                max-width: 250px;
            }

            .pepita {
                background-color: #525a31;
                border-radius: 30px;
                padding: 8px 10px 6px 10px;
                color: #fdfcfb;
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                left: 50%;
                top: 0;
                transform: translateY(-50%) translateX(-50%);
                position: absolute;
                text-wrap: nowrap;
                box-sizing: border-box;
                display: flex;
                align-items: center;

                @include tablet-small {
                    font-size: 18px;
                    width: 80%;
                }

                @include mobile-large {
                    text-wrap: wrap;
                }

            }
        }


        .testimonials_cards_container {
            @include flex(center, flex-start, 30px);

            @include tablet-small {
                flex-direction: column;
            }

        }

        .img_1,
        .img_2 {
            width: 100%;
            max-width: 400px;
        }

        .another_embebed_section {
            @include flex(center, center, 30px, column);

            width: 100%;
            max-width: 820px;

            .last_image {
                @include flex(center, center, 30px, column);

                h2 {
                    font-size: 30px;
                    font-weight: 700;

                    @include tablet-small {
                        font-size: 21px;
                    }
                }

                img {
                    width: 100%;
                    max-width: 600px;
                }
            }

        }


    }

}