@import "@sassVariables";

.modal {
    background: white;
    opacity: 0.95;
    border-radius: 8px;
    box-shadow: 0 0 3px #ccc;
    font-size: 14px;
    left: 50%;
    line-height: 24px;
    margin: 0 0 0 -120px;
    position: absolute;
    width: 260px;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 20px 30px;

    .header {
        margin: 10px 0;
        font-size: 20px;
        line-height: 32px;
        color: $main-color;
        font-weight: 700;
    }

    .text {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .buttonNext,
    .buttonClose {
        margin: 4px;
        border-radius: 4px;
        background-color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        text-align: center;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        width: 120px;
        cursor: pointer;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }

    .button {
        &Next {
            color: $main-color;
            border: 1px solid $main-color;
        }

        &Close {
            color: #888;
            border: 1px solid #999;
        }
    }
}