.field_with_error .error_text{ 
    opacity: 1 !important;
}
.field_with_error .div_select {
    box-shadow: 0 0 0 1px red !important;
    border-color: red !important;
}

.select_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.select_container .top_text {
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 12px;
    transition: all 0.3s ease;
    opacity: 1;
    text-transform: capitalize;
}

.select_container .div_select {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.select_container .div_select:focus-within {
    box-shadow: 0 0 0 1px #1b73b0;
    border-color: #1b73b0;
}
.select_container .div_select select {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 24px 30px 6px 12px;
    color: #000;
    transition: all 0.3s ease;
    appearance: none;
}
.select_container .div_select svg {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 45%;
    right: 20px;
    transform: translateY(-60%);
}

.select_container .error_text {
    font-size: 14px;
    color: red;
    opacity: 0;
    transition: all 0.3s ease;
    text-transform:capitalize;
}