@import "@mixins";

.bottomContent {
    font-weight: 700;

    .headaer {
        font-size: 30px;
        text-align: center;
        padding-bottom: 30px;

        @include tablet {
            padding-top: 20px;
            font-size: 26px;
        }

        span {
            color: #7f3d16;
        }
    }

    .listTitle {
        font-size: 36px;
        font-weight: 700;

        @include tablet {
            font-size: 30px;
        }

        @include mobile {
            font-size: 24px;
        }
    }

    .list {
        width: 85%;

        @include tablet {
            width: 90%;
        }

        @include mobile {
            width: 100%;
            font-size: 18px;
        }

        li:nth-child(1),
        li:nth-child(2) {
            font-style: italic;
        }
    }

    .listItem {}

    .redCrossed {
        text-decoration: line-through;
        color: red;
    }

    .darkGreen {
        color: #525a31;
        font-style: normal;
    }

    .bold {
        font-size: 36px;
        padding: 20px 0;

        @include tablet {
            font-size: 30px;
            padding: 5px 0;
        }

        @include mobile {
            font-size: 20px;

        }
    }

    .postal {
        border-top: 1px solid #c5c7d2;
        margin-top: 20px;

        .postalHeader {
            text-align: center;
            padding: 30px 0;
            font-size: 28px;

            @include mobile {
                font-size: 24px;
            }

        }

        .content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 30px;


            @include mobile {
                flex-direction: column;
                gap: 20px;
            }

            .text {
                flex: 0 0 50%;
                text-align: center;

                @include mobile {
                    font-size: 20px;
                }
            }

            img {
                width: 25%;
                align-self: center;
                justify-self: center;

                @include tablet {
                    width: 35%;
                }

                @include mobile {
                    width: 50%;
                }
            }
        }


    }
}