@import "@sassVariables";
@import "@mixins";

.alertBox {
    display: flex;
    background: $alertbkgnd-color;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #666;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px 8px;
    position: relative;
    z-index: 99;
    letter-spacing: 0.5px;
    margin: 20px 0;

    transition: all .5s ease-in-out;

    @include tablet {
        margin-bottom: 25px;
        margin-top: 15px;
        font-size: 13px;
        line-height: 16px;
    }

    @include mobile {
        margin-top: 5px;
    }
}

.alertText {
    @include mobile {
        width: 85%;
    }
}

.alertText b {
    color: $alert-color;
}

.iconExclaim {
    height: 32px;
    margin: 3px 14px 0 -5px;
    width: 34px;
}

.iconClose {
    cursor: pointer;
    float: right;
    height: 18px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 18px;
}

.notVisible {
    transition: all .5s ease-in-out;
    top: -500px;
    transform: translateY(-500px);
    height: 0;
}

.alertBox.notVisible {
    margin: 0;
    padding: 0;
}