@import "@mixins";

.moneyBack {
    margin: 30px;
    border-bottom: 2px solid #d9d9dd;
    border-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
        display: none;
    }

    .top {
        display: flex;
        align-items: center;

    }

    .leftSection {
        width: 30%;
        height: 30%;
    }

    .rightSection {
        .header {
            margin: 20px 0;
            padding: 20pz;
        }
    }

    .bottomImage {
        margin: 20px;

    }
}