$dark-green: #1B281D;
$light-green: #525A31;
$white-color: #fff;
$black-color: #000;
$brown: #7E3C15;
$beige: #F0D8C6;
$light-green-box: #73CF11;

$beige-bg-upsells: #f2f4ed;

$green-darkito: #008200;

$red: #D9222A;

$gray: #DCDCE6;
$half-gray: #696A6A;
$dark-gray: #1C1C1C;
$border-gray: #E6E6DF;
$gray-51: #515151;

$progress-bar-background: #F1F1E8;

$beige-bg-color: #F4F2ED;

$Gotham: 'Gotham', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Roboto: "Roboto", sans-serif;
$System: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
