$btn-bkgrnd: #f1c61a;
$btn-color: #77620d;
$text-color: #2b2a2a;
$alert-color: #db3d24;
$black-color: #000000;
$alertbkgnd-color: #f8f8f8;
$main-color: #212529;
$main-bkgnd: #F8EDE5;
$feedback_bkgnd: #f4f2ed;
$adv-main-color: #F72210;
$usds-main-color: rgb(244, 242, 237);
$usds-submit-color: rgb(57, 158, 57);
$usds-decline-color: rgb(127, 61, 22);
$usds-paragrapgh-color: rgb(245, 227, 213);
$usds-announce-color: rgb(255, 0, 0);
$usds-price-color: rgb(56, 118, 29);
$usds-yellow-color: rgb(254, 255, 84);