@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.woff2");
}

@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../assets/fonts/OpenSans-LightItalic.woff2");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../assets/fonts/OpenSans-Bold.woff2");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../assets/fonts/OpenSans-Italic.woff2");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../assets/fonts/OpenSans-SemiBold.woff2");
}

@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("../assets/fonts/OpenSans-SemiBoldItalic.woff2");
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../assets/fonts/OpenSans-BoldItalic.woff2");
}

@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../assets/fonts/OpenSans-ExtraBoldItalic.woff2");
}