$dark-green: #1b281d;
$light-green: #525a31;
$white-color: #fff;
$black-color: #000;
$brown: #7e3c15;
$beige: #f0d8c6;
$light-green-box: #73cf11;

$beige-bg-upsells: #f2f4ed;

$green-darkito: #008200;

$red: #d9222a;

$gray: #dcdce6;
$half-gray: #696a6a;
$dark-gray: #1c1c1c;
$border-gray: #e6e6df;
$gray-51: #515151;

$progress-bar-background: #f1f1e8;

$beige-bg-color: #f4f2ed;

$Gotham: "Gotham", sans-serif;
$GothamBold: "GothamBold", sans-serif;
$OpenSans: "Open Sans", sans-serif;
$Roboto: "Roboto", sans-serif;
$System: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
