@import "@sassConstants";
@import "@mixins";

.header_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 1104px;
        padding: 25px 40px;
    }
    
    .checkout_page_header .content a img {
        min-width: 224px;
    }
    
    @media (max-width: 999px) {
        .checkout_page_header .content {
            max-width: 466px;
        }
    }

}

