@import "@sassConstants";
@import "@mixins";

.section_container {
    @include flex(flex-start, center, 24px, column);
    width: 100%;
    padding: 56px 80px;
    font-family: $OpenSans;

    @include tablet-small {
        padding: 32px 16px;
    }

    .paragraphs_container {
        @include flex(flex-start, center, 24px, column);
        width: 100%;
        p {
            width: 100%;
            text-align: left;
            color: $black-color;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .img {
        width: 100%;
        max-width: 436px;
    }
    
}