@mixin flex(
    $justify: flex-start, 
    $align: center, 
    $gap: 0px, 
    $direction: row, 
    $wrap: nowrap 
) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($size, $weight: normal, $color: inherit, $family: inherit, $style: normal, $line-height: normal) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $line-height;
    color: $color;
}


// Responsive mixins
@mixin desktop {
    @media only screen and (max-width: 2560px) { @content; }
}

@mixin laptop-large {
    @media only screen and (max-width: 1440px) { @content; }
}
@mixin laptop-medium {
    @media only screen and (max-width: 1140px) { @content; }
}
@mixin laptop-small {
    @media only screen and (max-width: 1024px) { @content; }
}

@mixin tablet {
    @media only screen and (max-width: 768px) { @content; }
}

@mixin tablet-small {
    @media only screen and (max-width: 500px) { @content; }
}

@mixin mobile-large {
    @media only screen and (max-width: 430px) { @content; }
}
@mixin mobile-medium {
    @media only screen and (max-width: 375px) { @content; }
}
@mixin mobile-small {
    @media only screen and (max-width: 320px) { @content; }
}

  